@font-face {
    font-family: "NexaLight";
    src: url(../fonts/NexaLight.otf) format("opentype");
}

@font-face {
    font-family: "NexaBold";
    src: url(../fonts/NexaBold.otf) format("opentype");
}

@font-face {
    font-family: FatFrank;
    src: url(../fonts/FatFrank.otf) format("opentype");
}

::-moz-selection { /* Code for Firefox */
    background: #1f282f;
    color: #fff;
}

::selection {
    background: #1f282f;
    color: #fff;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "NexaLight",verdana,arial,calibri,sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
}
h1 {
	font-size: 3.75rem;
	margin-top: 3%;
	background: #8de600;
	padding: 20px;
	position: relative;
	margin: 3% auto 0%;
	display: block;
	color: #1f282f;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "FatFrank",sans-serif;
}
.alert-message {
	width: 100%;
	background: #8de600;
	color: #1f282f;
	font-family: "fatfrank",sans-serif;
}
.alert-message h2 {
	font-size: 18px !important;
}
.clear-padding {
	padding-left: 0px;
	padding-right: 0px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-30 {
	margin-top: 30px;
}
.white {
	color: #fff;
}
.container-fluid {
	padding-left: 30px;
	padding-right: 30px;
}
/*default*/
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.title-sections {
	text-align: center;
	margin-bottom: 90px;
}
.title-sections h2 {
	font-size: 50px;
	clear: both;
	margin-bottom: 15px;
}
.title-sections strong {
	font-size: 20px;
	font-weight: bold;
	font-family: "fatfrank",sans-serif;
	background: #1f282f;
	color: #8de600;
	padding: 10px;
}
.title-sections img {
	width: 70px;
}
section.services,section.work,section.blog,section.work,
section.services-page {
	padding: 70px 0px;
}
section.work {
	background-color: #f4f7f6;
}
section.our-team,section.detail_team {
	padding: 30px 0px;
}
.background-white {
	background: white !important;
}
.background-gray {
	background: rgb(138, 143, 147) !important;
}
.font-black {
	color: #1f282f !important;
}
/**/
/*services*/
.services-content {
	padding: 20px 30px;
}
.services-content h2 {
	color: #8de600;
	font-family: "fatfrank",sans-serif;
	font-size: 35px;
	margin: 20px 0px;
}
.services-content p {
	color: #777;
	font-weight: bold;
}
.services-content img {
	position: relative;
	    transition: all .35s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}
.services-content:hover img {
	transform: translateY(-10%);
}

.images-services-left {
	background: #1f282f;
}

.desc-services-right {
	background: #8de600;
	padding: 50px;
	min-height: 303px;
}

.desc-services-right h2 {
	font-size: 40px;
}
.desc-services-right p {
	font-size: 17px;
	margin-top: 30px;
}
/**/
/*clone*/
.navbar-headcontainer-clone {
	width: 100%;
	padding: 5px 15px;
	position: fixed;
	background: #fff;
	z-index: 5;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
	opacity: 0;
	webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    border-bottom: solid 1px #f2f2f2;
}

.navbar-headcontainer-clone .container-fluid {
	padding-left: 15px;
	padding-right: 15px;
}

.stick {
	webkit-transition: -webkit-transform 300ms;
    -moz-transition: -moz-transform 300ms;
    transition: transform 300ms;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
}

.navbar-headcontainer-clone #brand {
	padding: 0px;
	position: relative;
	top: 7px;
}

.navbar-headcontainer-clone .container-fluid .row .nav ul li a {
	color: #1f282f;
}
/**/
.featured {
	width: 100%;
	height: 100vh;
	background: url(../images/featured-4-gradation-small.png) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	top: 0;
	z-index: -1;
}
.featured-work {
	background: url(../images/featured-work.jpg) no-repeat !important;
	height: 60vh;
	background-size: cover !important;
}
.started {
	color: #fff !important;
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 130px;
	text-shadow: 5px 2px 10px #1f282f;
}
.featured-start {
	background: url(../images/featured-started-blur-2.jpg) no-repeat !important;
	height: 100vh;
	background-size: cover !important;
}
.detail_work {
	background: #1f282f;
	color: #fff;
	padding: 20px;
	display: block;
	width: 50%;
	text-align: center;
	margin: 0 auto;
	font-family: "fatfrank",sans-serif;
	margin-top: 20px;
}
.form-style {
	display: block;
	width: 400px;
	margin: 20px auto 0px;
	border: 1px solid transparent;
	padding: 15px;
	color: #999;
	text-align: center;
	font-size: 16px;
	font-family: "NexaBold",sans-serif;
}
.submit-style {
	background: #8de600;
	font-family: "fatfrank",sans-serif;
	color: #1f282f;
	border: 1px solid #8de600;
	padding: 8px 20px;
	margin: 20px auto 0px;
	display: block;
}
.featured-blog {
	background-size: cover !important;
	height: 60vh;
	background-position: 50% 0% !important;
}
.featured-work-detail {
	background-size: cover !important;
	height: 70vh;
	background-position: 50% 0% !important;
}
.featured-caption {
	float: left;
	width: 100%;
	color: #fff;
	letter-spacing: 1.1px;
	opacity: 0.8;
	margin-top: 10px;
	font-size: 30px;
}
.featured-caption-blog {
	color: #fff;
	font-size: 50px;
	font-family: "fatfrank",sans-serif;
	margin-top: 60px;
	text-shadow: 5px 5px 5px #1f282f;
}
.featured-caption-work {
	background: #fff;
	color: #1f282f;
	font-size: 50px;
	font-family: "fatfrank",sans-serif;
	width: 80%;
	margin: 70px auto 0;
	padding: 20px;
}
.emblem {
	overflow: hidden;
	margin-top: 30px;
}
.unique-menu {
	background: #1f282f;
	color: #8de600 !important;
	border-radius: 4px;
	box-shadow: 6px 6px 8px 0px rgba(0,0,0,0.29);
}

#brand {
	padding: 10px 0px;
}

#brand img {
	width: 67.5px;
}

.menu li {
	float: left;
    font-family: "fatfrank",sans-serif;
    letter-spacing: 0.0625rem;
    line-height: 5rem;
    font-size: 0.7875rem;
    text-transform: uppercase;
}

.menu li a {
	color: #fff;
	font-family: "FatFrank",sans-serif;
	padding: 5px 20px;
}

.emblem img {
	height: 332px;
    width: 332px;
    margin: 0 auto;
    display: block;
}

/*navicon*/
#nav-icon1,#nav-icon2 {
  display: none;
  width: 50px;
  height: 45px;
  position: relative;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  top: 17px;
}

#nav-icon1 span,#nav-icon2 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #8de600 !important;
  border-radius: 1px;
  opacity: 0.9;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1),#nav-icon2 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2),#nav-icon2 span:nth-child(2) {
  top: 15px;
}

#nav-icon1 span:nth-child(3),#nav-icon2 span:nth-child(3) {
  top: 30px;
}

#nav-icon1.open span:nth-child(1),#nav-icon2.open span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2),#nav-icon2.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3),#nav-icon2.open span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/*dropdown*/
.drop-down,.drop-down-2 {
	width: 170px;
	position: absolute;
	padding-left: 0px;
	padding-right: 0px;
	background: #1f282f;
	margin-top: 80px;
	right: 0;
	right: 1%;
	display: none;
	z-index: 2;
}
/**/
nav.navigation-dropdown ul, nav.navigation-dropdown-2 ul{
	text-align: right;
	padding: 20px 0px;
}

nav.navigation-dropdown ul li {
	display: inline-block;
	margin: 10px 10px;
}

nav.navigation-dropdown ul li a {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	padding: 15px;
	letter-spacing: 0.7px;
	text-decoration: none;
	position: relative;	
	font-family: "FatFrank",calibri,sans-serif;
}
nav.navigation-dropdown ul li a:hover {
	text-decoration: underline;
}
.unique-dropdown {
	background: #8de600;
	color: #1f282f !important;
}
/**/

/* team */
.our-team {
	background: #1f282f;
}
.team-item {
	margin-bottom: 30px;
}
.team-item a:hover {
	text-decoration: none;
}
.team-item a:hover img {
	border: 9px solid #8de600;
}
.team-item img {
	width: 70%;
	margin: 0 auto;
	border: 9px solid #363e45;
	border-radius: 50%;
	background: #fff;
}
.see-more {
	padding: 40px 0px;
	margin-top: 20px;
}
.see-more a {
	color: #1f282f;
	background: #8de600;
	padding: 10px 20px;
	font-family: "fatfrank",sans-serif;
	text-transform: uppercase;
}
.images-services-left img {
	width: 300px;
}
.team-item h2 {
	color: #8de600;
	font-size: 28px;
	margin-top: 10px;
}
.team-item strong {
	color: #cecece;
	text-transform: lowercase;
	font-family: "NexaBold",sans-serif;
}
.desc-team {
	padding: 0px 100px 40px;
	font-size: 25px;
	border-bottom: 1px solid #ececec;
}
/**/

/*Latest-project*/
.latest-project-image {
	overflow: hidden;
}

.latest-project-image img {
	width: 120%;
}
/**/
/*contact*/
.contact {
	padding: 80px 0px;
}
.title-contact {
	text-align: center;
	padding: 20px;
	background: #f0f0f0;
}
.title-contact img {
	width: 100px;
}
.clear-padding-right {
	padding-right: 0px;
}
.clear-padding-left {
	padding-left: 0px;
}

.form {
	margin-top: 30px;
}
.label-form {
	margin-bottom: 5px;
	font-family: "fatfrank",sans-serif;
	color: #1f282f;
}
input:hover,input:active,input:focus{
	outline-color: transparent;
}
.address {
	font-family: "NexaBold",sans-serif;
	line-height: 25px;
	font-weight: bold;	
}
.address i {
	color: #8de600;
	margin: 0px 7px;
}
.leave-message {
	padding: 30px;
}
.leave-message h2{
	font-size: 40px;
}
.address-location {
	font-weight: bold;
	font-family: "fatfrank",sans-serif;
	margin-bottom: 20px;
	font-size: 25px;
}
.submit-contact {
	background: #1f282f;
	color: #8de600;
	font-family: "fatfrank",sans-serif;
	width: 200px;
	padding: 10px;
}
.submit-contact:hover,
.submit-contact:active {
	background: #1f282f;
	color: #8de600;
}
/**/

/*blog*/
.blog {
	width: 100%;
	overflow: hidden;
}
.recent-blog {
	background: #f0f0f0;
	margin-top: 15px;
}
.date {
	color: #333;
	font-family: "NexaBold",sans-serif;
}
.wrap-blog-page {
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
}
.date-and-by {
	padding: 10px 0px;
	border-bottom: 1px solid #cecece;
}
.border-top-date {
	border-top: 1px solid #cecece;
}

.date-and-by strong {
	text-align: right;
	font-weight: bold;
	font-family: "NexaBold",sans-serif;
	color: #1f282f !important;
}
.title-recent-blog {
	padding: 20px;
	border-bottom: 1px solid #cecece;
}
.link-blog:hover .wrap-images-blog figcaption{
	background: #1f282f;
	color: #8de600;
}
.desc-blog {
	color: #555;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 20px;
}
.desc-blog h2 {
	font-family: "NexaBold",sans-serif;
	font-weight: bold;
	font-size: 30px;
	margin: 10px 0px;
}
.blog-page-content {
	padding: 15px;
}
.blog-page-content img {
	width: 100%;
}
.blog-page-content a:hover {
	text-decoration: none;
}
.link-recent-blog ul li a {
	padding: 20px 20px;
	display: block;
	font-family: "NexaBold",sans-serif;
	color: #777;
}
.wrap-images-blog {
	position: relative;
}
.wrap-images-blog figcaption {
	position: absolute;
	bottom: 30px;
	left: 20px;
	color: #1f282f;
	background: #8de600;
	padding: 15px 10px;
	font-family: "fatfrank",sans-serif;
	font-size: 30px;
}
.content-blog figcaption {
	color: #1f282f;
	z-index: 3;
	font-size: 30px;
	position: absolute;
	bottom: 20%;
	left: 10px;
	font-family: "fatfrank",sans-serif;
	background: #8de600;
	padding: 12px 20px;
}
.content-blog {
	cursor: pointer;
	z-index: 1;
	overflow: hidden;
	max-height: 400px;
}
.content-blog img:hover{
	transform: scale(1.1);
}
.content-blog img {
	width: 120%;
	transition: all 1s ease;
}
.content-blog figure:hover img {
	transform: scale(1.1);
}
.skyline-footer-2 img {
	width: 100%;
}

/**/
.skyline {
	bottom: -4px;
}
.skyline img {
	width: 100%;
}
.footercontainer {
	background: #1f282f;
	padding: 60px 0px 0px;
	text-align: center;
}
.footercontainer i {
	color: #8de600;
	margin: 0px 10px;
	cursor: pointer;
}
.footer strong {
	font-family: sans-serif;
	display: block;
	margin-top: 15px;
	color: #cecece;
	opacity: 0.5;
	margin-bottom: 50px;
}

.footer i {
	transition: all .3s ease-in-out;
}

.footer a:hover i {
	transform: translateY(-20%);
	text-decoration: none;
}

/**/
.get-started {
	padding: 50px 0px;
}

.title-started h2 {
	font-size: 70px;
}
.title-about {
	text-align: center;
	padding: 50px 0px;
}
.title-about h2 {
	font-size: 60px;
}
.title-about img {
	width: 200px;
}
.title-about p {
	font-size: 20px;
	display: block;
	width: 90%;
	margin: 20px auto;
}

.get-started .mockup-images img {
	width: 50%;
}

.start-project-button a {
	color: #8de600;
	font-family: "FatFrank",sans-serif;
	font-size: 30px;
	border: 6px solid #8de600;
	padding: 10px 20px;
	display: block;
	text-align: center;
	margin-top: 100px;
}

.start-project-button a:hover {
	color: #1f282f;
	border: 6px solid #1f282f;
	text-decoration: none;
}
/**/

/**/
@media (max-width: 768px){
	#nav-icon1,#nav-icon2 {
		display: block;
	}

	.nav {
		display: none;
	}
	.navbar-headcontainer-clone #brand {
		padding: 0px;
		position: relative;
		top: 2px;
	}

	#nav-icon1 span,#nav-icon2 span {
	  background: #1f282f;
	}	
}

@media(max-width: 660px){
	.content-blog {
		max-height: 300px;
	}
}

@media(max-width: 1000px){
	.mockup-images img {
		width: 70% !important;
	}
}

@media(max-width: 400px){
	.content-blog {
		max-height:200px;
	}

	.title-sections strong {
		display: block;
	}

	.emblem img {
		width: 250px;
		height: 250px;
	}

	.btn-filter {
		display: block;
		margin-bottom: 5px;
	}

}


#portfolio_page {
  margin-top: 115px;
  padding-bottom: 0;
}
.btn-submit {
	background: #1f282f;
	color: #8de600;
	font-family: "fatfrank",sans-serif;
	letter-spacing: 1.3px;
}
.btn-submit:hover {
	color: #8de600;
}
.margin-bottom-40 {
	margin-bottom: 50px;
}
.margin-top-40 {
	margin-top: 40px;
}
.margin-top-20 {
	margin-top:20px;
}
.figure-work {
	width: 100%;
	display: block;
	padding: 0;
	margin: 0;
	position: relative;
	overflow: hidden;
}
.work-item:hover .figure-work i {
	display: block;
}
.figure-work i {
	position: absolute;
	top: 0;
	color: #fff;
	display: block;
	background: rgba(141, 230, 0, 0.68);
	width: 100%;
	padding: 30% 0px;
	text-align: center;
	display: none;
	transition: all .4s ease-in-out;
}
.recent-work-wrap img {
	width: 100%;
}
.content-work {
	text-align: center;
	font-family: "NexaBold",sans-serif;
	font-size: 20px;
	width: 80%;
	margin: 0 auto;
}

.work-items, 
.work-filter {
  list-style: none outside none;
  margin: 0 0 40px 0;
  padding: 0;
}
.active {
	background: #1f282f !important;
	color: #8de600 !important;
}
.desc-work {
	width: 100%;
	padding: 20px 25px;
	background: #fff;
	box-sizing: border-box;
}
.desc-work h2,.desc-work p {
	color: #1f282f;
}
.work-item a:hover {
	text-decoration: none;
}
.desc-work h2 {
	margin-bottom: 10px;
}
.work-filter > li {
  display: inline-block;
}

.work-filter > li a:hover,
.work-filter > li a.active,
.work-filter > li a{
  color:#1f282f;
  background: #8de600;
  border: 1px solid transparent !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  font-family: "fatfrank",sans-serif;
  padding: 10px;
}
.work-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.work-item {
  margin: 10px 0px;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/*after dinamis*/
.images-title-team {
	width: 250px !important;
	height: 250px !important;
	border-radius: 50%;
	border: 10px solid #8de600;
	background: #fff;
}

.blur {
	filter: blur(5px);
	-webkit-filter: blur(5px);
}